.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;

}

.header li a {
  text-decoration: none !important;
  font-size: 15px;
}

.header li {
  list-style: none !important;
  padding: 10px;
}

.formpart {
  width: 50%;
  margin: 0 auto;
}

.formpart label {
  width: 100%;
}

.formpart input {
  width: 100%;
  padding: 5px;
  margin-top: 15px;
}

.btnSub {

  background: gray;
  color: #fff;
  border: 0px;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
  width: 100px;
  text-transform: capitalize
}

h1 {
  font-size: 18px;
  text-transform: capitalize;
}

.itembox {
  border: 1px solid gray;
  width: 40%;
  padding: 10px;
  margin: 10px;

}

.itembox li {

  list-style: none;
}

.dashBox {
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.daspart {

  margin: 0 auto;
  justify-content: center;
  text-align: center;

}